<!-- <p>drone-item works!</p> -->

<div style="border: 1px solid #ccc; padding: 10px; margin: 10px; border-radius: 10px;">
    <h3 appZoom style="cursor: pointer;">Dron: {{ droneName }}</h3>
    <p>Poziom energii: {{ energyLevel }}</p>

    <div style="margin-top: 10px; font-weight: bold;">
        @if (energyLevel < 20) {
            <p style="color: red;">Dron należy podłączyć do ładowania!</p>
        } @else if (energyLevel >= 20 && energyLevel < 90) {
            <p style="color: yellow;">Poziom baterii jest w normie.</p>
        } @else if (energyLevel >= 90) {
            <p style="color: green;">Dron jest w pełni naładowany.</p>
        }
    </div>

    <button (click)="increaseEnergy()">Naładuj drona (+5)</button>
</div>